<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="" class="img-fluid" title="skm_coder">
                        </figure>
                    
                        <p>Welcome to weather app.</p>
                        <h1>Opps! page not found.</h1>
                        <a href="/index"><button>Go Back</button></a>
                    </div>
                    <!-- right div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>