<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left div -->
                    <div class="col-md-6 col-12 main_header_right ">
                        <figure>
                            <img src="images/about.png" alt="" class="img-fluid" title="skm_coder">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app.</p>
                        <h1>This is a dynamic weather app developed by Sagar and Anurag using Node.js.</h1>
                        <a href="/weather"><button>check now</button></a>
                    </div>
                    <!-- right div -->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    {{>footer}}
</body>
</html>